[buildout]
newest = false
parts = fabric
extensions = buildout.dumprequirements
dump-requirements-file = requirements.txt
overwrite-requirements-file = true

[activate]
recipe = evg.recipe.activate

[fabric]
recipe = zc.recipe.egg:scripts
eggs = fabtools
       fabric
scripts = fab
